.formCrearProducto {
    background-color: #D9E8FC;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.formGroup {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    column-gap: 100px;
}
.formGroup div {
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.formGroup label {
    color: #363738;
    font-weight: 600;
}
.formGroupLast {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    margin-inline: auto;
}
.formGroupLast label {
    color: #363738;
    font-weight: 600;
}
.formGroupLast textarea {
    height: 100px;
    resize: none;
}
.form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    outline: none;
}
.form-control::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.errorFormCrearProducto {
    color: #1D64C2;
    font-weight: bold;
}
.containerButtonForm {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.containerButtonForm button {
    width: 10%;
    background-color: #7FADEB;
    border: none;
    height: 40px;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
}
.containerButtonForm button:hover {
    background-color: #1D64C2;
    color: white;
}
.containerButtonForm button:disabled {
    background-color: #7FADEB;
    color: white;
    cursor: not-allowed;
}
.containerButtonForm button:disabled:hover {
    background-color: #7FADEB;
    color: white;
}
.containerDetailsProduct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
}
.containerDetailsProduct h2 {
    color: #363738;
    font-weight: 600;
}
.containerDetailsProduct p {
    color: #7FADEB;
    font-weight: 600;
}
.formGroup select {
    outline: none;
}
.containerSelectedProducts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
.containerSelectedProducts label {
    color: #363738;
    font-weight: 600;
    font-size: 20px;
}
.containerCardsSelectProducts {
    display: flex;
    overflow-x: auto;
    width: 100%;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;
    scroll-snap-type: x mandatory;
}
.cardSelectProducts {
    display: flex;
    column-gap: 10px;
    flex: 0 0 auto;
    scroll-snap-align: start;
}
.cardSelectProducts div:first-child {
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.cardSelectProducts div:first-child img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cardSelectProducts div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    color: #1D64C2;
}
.totalFactura {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.totalFactura label {
    color: #363738;
    font-weight: 600;
    font-size: 20px;
}
.totalFactura div {
    color: #1D64C2;
    font-size: 20px;
}
.containerFechaCreateFactura {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
}